Repository Firething/SCPUtils, changes with the labels that .github/labeler.yml gives for each.
All labels: Commands, Generic bug

.github/labeler.yml:

"Commands": 
 - SCPUtils/Commands/*

"Generic bug":
 - SCPUtils/*

6.5.2
  SCPUtils/Commands/SetColor.cs
  SCPUtils/Plugin.cs
  SCPUtils/SCPUtils.csproj
  SCPUtils/Translations.cs
  SCPUtils/packages.config
Labels: Commands, Generic bug

6.5.2
  README.md
  SCPUtils/Translations.cs
Labels: Generic bug

Create Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none

Update Brazilian.yml
  Localizations/Brazilian.yml
Labels: none
